[Desktop Entry]
Name=LyX
Comment=A WYSIWYG frontend to LaTeX
Comment[pl]=WYSIWYG nakładka na LaTeXa
Icon=lyx.png
Exec=lyx
Terminal=0
Type=Applications/Editors
# vi: encoding=utf-8
