[Desktop Entry]
Name=LyX
Comment=A WYSIWYG frontend to LaTeX
Comment[pl]=Nakładka typu WYSIWYG na LaTeXa
Icon=lyx.png
Exec=lyx
Terminal=false
Type=Application
Encoding=UTF-8
Categories=Office;WordProcessor;
# vi: encoding=utf-8
