[Desktop Entry]
Name=LyX
Comment=A WYSIWYG frontend to LaTeX
Comment[pl]=Nakładka typu WYSIWYG na LaTeXa
Icon=lyx
Exec=lyx
Terminal=false
Type=Application
Categories=Qt;Office;WordProcessor;
# vi: encoding=utf-8
